@import "tailwindcss";

@font-face {
  font-family: "Gravity";
  src: url("/fonts/Gravity.otf");
}

@font-face {
  font-family: "Cyn";
  src: url("/fonts/Cynocel.ttf");
}

@font-face {
  font-family: "HandJet";
  src: url("/fonts/handjet.ttf");
}

@font-face {
  font-family: "Almas";
  src: url("/fonts/almas.ttf");
}

@theme {
  --font-grav: "Gravity";
  --font-cyn: "Cyn";
  --font-almas: "Almas";
  --font-hand: "HandJet";

  --breakpoint-mid: 960px;

  --color-espacio: #30322f;
  --color-blanco: #eee4d0;
}

@layer utilites {
  .font-grav {
    font-family: var(--font-grav);
  }

  .font-cyn {
    font-family: var(--font-cyn);
  }

  .font-almas {
    font-family: var(--font-almas);
  }

  .font-hand {
    font-family: var(--font-hand);
  }
}

html {
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@media (max-width: 768px) {
  .drag-container {
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
  }
}
