@import "tailwindcss";

@font-face {
  font-family: "Gravity";
  src: url("/fonts/Gravity.otf");
}

@font-face {
  font-family: "Cyn";
  src: url("/fonts/Cynocel.ttf");
}

@theme {
  --font-grav: "Gravity";
  --font-cyn: "Cyn";

  --breakpoint-mid: 960px;

  --color-espacio: #30322f;
  --color-blanco: #eee4d0;
}

@layer utilites {
  .font-grav {
    font-family: var(--font-grav);
  }

  .font-cyn {
    font-family: var(--font-cyn);
  }
}

html {
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
